.section {
  min-height: 100vh;
  border-top: var(--line);
  padding: 100px 20px;
}

.section.dark {
  background-color: var(--paper-dark);
  color: var(--ink-dark);
  border-top: var(--line-dark);
}

.head {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--line);
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-size: 11px;
}

.dark .head {
  border-bottom: var(--line-dark);
}
