.statgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stat {
  padding: 20px;
  border-right: 1px solid var(--paper);
}

.stat:last-child {
  border-right: none;
}

.number {
  font: 11vw/0.8 var(--display);
}

.label {
  font-size: 10px;
  margin-top: 20px;
}
